@import "pages.scss/chic.scss";
@import "pages.scss/papilles.scss";
@import "pages.scss/gout.scss";
@import "pages.scss/enchantée.scss";
@import "header.footer.scss/header-footer.scss";
@import "@media.scss/@media.scss";

body{
    width: 100%;
    height: auto;   
    margin: 0;
    background-color: #ffffff;
}
/*-------------*/
/*Polices pages*/
/*-------------*/

$font-oleo:'Oleo Script', cursive;
$font-PT-serif:'PT Serif', serif;
$font-ZhiMangXing:'Zhi Mang Xing', cursive;
$font-Short-Stack:'Short Stack', cursive;
$font-Dancing-script:'Dancing Script', cursive; 
$font-Caveat:'Caveat', cursive;
$font-Kaushan:'Kaushan Script', cursive;
$font-bad-script:'Bad Script', cursive;


/*-------------------*/
/*----Menus-index----*/
/*-------------------*/

@mixin marge {
    margin-left: auto;
    margin-right: auto;  
}
#menus{
    padding-top: 9%;
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-around;
    article{                  /*dimension et ombre des menus*/
            width: 190px;
            height: 232px;
            box-shadow: 0px 0px 5px 2px rgb(207, 201, 207);
            margin-bottom: 10%;    
        a{                            /*Alignement interieur des menus*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30%; 
        transform: scale(1);
        text-decoration: none;
            &:hover *{
                transform: scale(1.3);
                transition: transform 900ms;
                opacity: 0.7;
            } 
        } 
    }
    img{
        width: 30px;
    }
    h2{
        font-size: 17px;
    }
    p{
        margin-top: 0px;
        font-size: 20px;
    }
}


$color-maroon:#3d1319;              /*Menu la note enchantée*/
#menu-enchante{                         
    background: #fcdfdb; 
    & h2{
        margin-top: 0px;
        color: $color-maroon;
        font:{
            family: $font-ZhiMangXing;
            weight: 500;
        }
    }
    & p{
        color: $color-maroon;
        font:{
            weight: bold;
            family: $font-Short-Stack;
        }
    }
}

#menu-chic{                             /*Menu le chic à la française*/
    background-color: #fff5fe;
    & h2{
        background: linear-gradient(135deg, rgba(224,136,29,1) 0%, rgba(171,106,179,1) 58%, rgba(143,90,225,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $font-oleo;
        }
    & p{
        color: #c77412;
        font-family: $font-PT-serif;
        }
}
#menu-papille{                         /*Menu le délice des papilles*/
    background-color: #f9f9f9;
    & h2{
        background: linear-gradient(100deg, rgba(2,41,221,1) 0%, rgba(4,83,234,1) 58%, rgba(68,163,251,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $font-Dancing-script;
    }
    & p{
        color: #0887fb;
        font-family: $font-Caveat;
    }
}
#menu-gout{                         /*Menu la palette du goût*/
    background: #fdfffd;
    & h2{
    background: linear-gradient(135deg, rgba(73,156,64,1) 0%, rgba(149,220,105,1) 58%, rgba(190,225,127,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font-Kaushan;
    }
    & p{
        color: #72bf56;
        font-family: $font-Caveat;
    }
}

/*-------------*/
/*menu-pages*/
/*-------------*/

#menu{
    width: 90%;
    height: auto;
    box-shadow: 0px 1px 15px 1px rgba(184, 179, 179, 0.897);
    margin: auto;
    cursor: default;
    margin-bottom: 4em; 
    margin-top: 9%; 
    padding-bottom: 1.5em;
}
h4{
    position: relative;
    &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgb(252,202,70);
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    }
    &:hover:before{
        visibility: visible; 
        transform: scale(1);
    }
}
.filtre-dimension{
    margin: auto;
    width: 80%;
}
.marge-basse{
    margin-bottom: 10px;
}
.petit-titre{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plats-prix{
    display: flex;
    justify-content: space-between;
}

.hr1,.hr2,.hr3{                       /*ligne séparatrice*/
    width: 25%;
    height: auto;
}
.hr2{
    transform: rotate(180deg);
}

.hr3{
    transform: rotateY(180deg) ;
}

/*Prochainement*/
#prochainement {
    border-radius: 15px;
    width: 9em;
    margin-bottom: 4em;
    @include marge;
    font-size: 15px;
    text-align: left;
    h5{                       /*Animation points de suspension*/
        padding: .4em 1.8em;
        &::after{           
            display: inline-block;
            animation: doty steps(1,end) 2000ms infinite;
            content: '...';}
    }
}

@keyframes doty {
0%   { content: ''; }
25%  { content: '.'; }
50%  { content: '..'; }
75%  { content: '...'; }
100% { content: ''; }
}

/*classes Couleur*/

.jaune{
    color: rgb(252,202,70);
}

.bleu-vert{
    background-color:rgb(86,156,135) ;
}


/*page mentions légales*/
#mentions-legales{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 15%;
    #titre{
        font-size: 5vw;
        text-align: center;
        color: #f7cd54;
    }
    p{
        text-align: justify;
        font-size: 3vh;
    }
}