@import "pages.scss/chic.scss";
@import "pages.scss/papilles.scss";
@import "pages.scss/gout.scss";
@import "pages.scss/enchantée.scss";
@import "header.footer.scss/header-footer.scss";

body{
    width: 100%;
    height: auto;   
    margin: 0;
    background-color: #ffffff;
}
/*-------------*/
/*Polices pages*/
/*-------------*/

$font-oleo:'Oleo Script', cursive;
$font-PT-serif:'PT Serif', serif;
$font-ZhiMangXing:'Zhi Mang Xing', cursive;
$font-Short-Stack:'Short Stack', cursive;
$font-Dancing-script:'Dancing Script', cursive; 
$font-Caveat:'Caveat', cursive;
$font-Kaushan:'Kaushan Script', cursive;
$font-bad-script:'Bad Script', cursive;


/*-------------------*/
/*----Menus-index----*/
/*-------------------*/

@mixin marge {
    margin-left: auto;
    margin-right: auto;  
}
#menus{
    padding-top: 9%;
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-around;
    article{                  /*dimension et ombre des menus*/
            width: 190px;
            height: 232px;
            box-shadow: 0px 0px 5px 2px rgb(207, 201, 207);
            margin-bottom: 10%;    
        a{                            /*Alignement interieur des menus*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30%; 
        transform: scale(1);
        text-decoration: none;
            &:hover *{
                transform: scale(1.3);
                transition: transform 900ms;
                opacity: 0.7;
            } 
        } 
    }
    img{
        width: 30px;
    }
    h2{
        font-size: 17px;
    }
    p{
        margin-top: 0px;
        font-size: 20px;
    }
}


$color-maroon:#3d1319;              /*Menu la note enchantée*/
#menu-enchante{                         
    background: #fcdfdb; 
    & h2{
        margin-top: 0px;
        color: $color-maroon;
        font:{
            family: $font-ZhiMangXing;
            weight: 500;
        }
    }
    & p{
        color: $color-maroon;
        font:{
            weight: bold;
            family: $font-Short-Stack;
        }
    }
}

#menu-chic{                             /*Menu le chic à la française*/
    background-color: #fff5fe;
    & h2{
        background: linear-gradient(135deg, rgba(224,136,29,1) 0%, rgba(171,106,179,1) 58%, rgba(143,90,225,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $font-oleo;
        }
    & p{
        color: #c77412;
        font-family: $font-PT-serif;
        }
}
#menu-papille{                         /*Menu le délice des papilles*/
    background-color: #f9f9f9;
    & h2{
        background: linear-gradient(100deg, rgba(2,41,221,1) 0%, rgba(4,83,234,1) 58%, rgba(68,163,251,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $font-Dancing-script;
    }
    & p{
        color: #0887fb;
        font-family: $font-Caveat;
    }
}
#menu-gout{                         /*Menu la palette du goût*/
    background: #fdfffd;
    & h2{
    background: linear-gradient(135deg, rgba(73,156,64,1) 0%, rgba(149,220,105,1) 58%, rgba(190,225,127,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font-Kaushan;
    }
    & p{
        color: #72bf56;
        font-family: $font-Caveat;
    }
}

/*-------------*/
/*menu-pages*/
/*-------------*/

#menu{
    width: 90%;
    height: auto;
    box-shadow: 0px 1px 15px 1px rgba(184, 179, 179, 0.897);
    margin: auto;
    cursor: default;
    margin-bottom: 4em; 
    margin-top: 9%; 
    padding-bottom: 1.5em;
}
h4{
    position: relative;
    &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgb(252,202,70);
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    }
    &:hover:before{
        visibility: visible; 
        transform: scale(1);
    }
}
.filtre-dimension{
    margin: auto;
    width: 80%;
}
.marge-basse{
    margin-bottom: 10px;
}
.petit-titre{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plats-prix{
    display: flex;
    justify-content: space-between;
}

.hr1,.hr2,.hr3{                       /*ligne séparatrice*/
    width: 25%;
    height: auto;
}
.hr2{
    transform: rotate(180deg);
}

.hr3{
    transform: rotateY(180deg) ;
}

/*Prochainement*/
#prochainement {
    border-radius: 15px;
    width: 9em;
    margin-bottom: 4em;
    @include marge;
    font-size: 15px;
    text-align: left;
    h5{                       /*Animation points de suspension*/
        padding: .4em 1.8em;
        &::after{           
            display: inline-block;
            animation: doty steps(1,end) 2000ms infinite;
            content: '...';}
    }
}

@keyframes doty {
0%   { content: ''; }
25%  { content: '.'; }
50%  { content: '..'; }
75%  { content: '...'; }
100% { content: ''; }
}

/*classes Couleur*/

.jaune{
    color: rgb(252,202,70);
}

.bleu-vert{
    background-color:rgb(86,156,135) ;
}


/*page mentions légales*/
#mentions-legales{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 15%;
    #titre{
        font-size: 5vw;
        text-align: center;
        color: #f7cd54;
    }
    p{
        text-align: justify;
        font-size: 3vh;
    }
}

/* Si la taille de l'écran est de 379 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 379px){
    #menus{
        article{             /*dimension des menus*/
            width: 285px;
            height: 348px;
        }
        img{
            width: 2em;
        }
        h2{
            font-size: 1.50em;
        }
        p{
            font-size: 28px;
        }}
}
/* Si la taille de l'écran est de 570 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 570px){
#prochainement{
    width: 9em;
    font-size: 2.3em;
    }
footer{
    font-size: 2em;
    }
p{
    font-size: 1em;
    }
#menus{
    article{             /*dimension des menus*/
        width: 285px;
        height: 348px;
    }
    img{
        width: 2.15em;
    }
    h2{
        font-size: 1.65em;
    }
    p{
        font-size: 35px;
    }
}
#menu{ 
    margin-bottom: 8em;
    h3{
        font-size: 40px;
    }
    h4{
        font-size: 20px;
    }
    p{
        font-size:15px;
        span{
            font-size: 17px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 30px;
        }
    }
}

}


/* Si la taille de l'écran est de 768 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 768px){
#menus {
    article{  /*dimension des menus*/
        width: 310px;
        height: 378px;
    }
    img{
        width: 2.5em;
    }
    h2{
        font-size: 1.7em;
    }
    p{
        font-size: 40px;
    }
}
#menu{ 
    margin-bottom: 8em;       
    h3{
        font-size: 50px;
    }
    h4{
        font-size: 24px;
    }
    p{
        font-size:20px;
        span{
            font-size: 21px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 40px;
        }
    }
}   
}
/* Si la taille de l'écran est de 930 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 930px){
#menus{
    article{
            width: 348px;
            height: 424px;
    }
}
#menu{ 
    margin-bottom: 8em;    
    h3{
        font-size: 65px;
    }
    h4{
        font-size: 32px;
    }
    p{
        font-size: 25px;
        span{
            font-size: 27px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 50px;
        }
    }
}
}
/* Si la taille de l'écran est de 1021 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 1021px){
#menus {
    article{  /*dimension des menus*/
        width: 28em;
        height: 34.18em;
    }
    img{
        width: 55px;
    }
    h2{
        font-size: 45px;
    }
    p{
        font-size: 55px;
    }
}
}
/* Si la taille de l'écran est de 1335 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 1335px){
#menus{
    article{  /*dimension des menus*/
        width: 33em;
        height: 40.2em;
    }
}
    #menu{ 
    margin-bottom: 12em;     
        
    h3{
        font-size: 80px;
    }
    h4{
        font-size: 45px;
    }
    p{
        font-size:30px;
        span{
            font-size: 32px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 65px;
        }
    }
}
}

/* Si la taille de l'écran est de 1440 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 1444px){
#menus {
    article{  /*dimension des menus*/
        width: 35em;
        height: 42.8em;
    }
    img{
        width: 60px;
    }
    h2{
        font-size: 50px;
    }
    p{
        font-size: 60px;
    }
}

#prochainement, footer{
        font-size: 3em;
    }
p{
        font-size: 1em;
    }
}
/* Si la taille de l'écran est de 1680 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 1680px){
#menus {
    article{  /*dimension des menus*/
        width: 45em;
        height: 54.8em;
    }
    img{
        width: 70px;
    }
    h2{
        font-size: 60px;
    }
    p{
        font-size: 70px;
    }
}
#menu{ 
    margin-bottom: 13em; 
    h3{
        font-size: 105px;
    }
    h4{
        font-size: 57.5px;
    }
    p{
        font-size:50px;
        span{
            font-size: 52px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 90px;
        }
    }
}
#prochainement, footer{
        font-size: 4em;
    }
}
/* Si la taille de l'écran est de 2020 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 2020px){
#menus {
    article{  /*dimension des menus*/
        width: 50em;
        height: 61.3em;
    }
    img{
        width: 90px;
    }
    h2{
        font-size: 80px;
    }
    p{
        font-size: 90px;
    }
}

#prochainement, footer{
        font-size: 4.6em;
    }
#menu{ 
    margin-bottom: 17em;
    h3{
        font-size: 120px;
    }
    h4{
        font-size: 69px;
    }
    p{
        font-size:60px;
        span{
            font-size: 62px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 100px;
        }
    }
}
}
/* Si la taille de l'écran est de 2403 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 2403px){
#menus {
    article{  /*dimension des menus*/
        width: 60em;
        height: 73.2em;
    }
    img{
        width: 100px;
    }
    h2{
        font-size: 90px;
    }
    p{
        font-size: 100px;
    }
}
#menu{ 
    margin-bottom: 17em;    
    h3{
        font-size: 140px;
    }
    h4{
        font-size: 82px;
    }
    p{
        font-size:75px;
        span{
            font-size: 77px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 110px;
        }
    }
}

#prochainement, footer{
    font-size: 4.2em;
}
}