
body{
    width: 100%;
    height: auto;   
    margin: 0;
    background-color: #ffffff;
}

#mentions-legales{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 15%;
    #titre{
        font-size: 5vw;
        text-align: center;
        color: #f7cd54;
    }
    p{
        text-align: justify;
        font-size: 3vh;
    }
}
/*-------*/
/*header*/
/*-------*/

/*H1*/
header h1{
    display: none;
}

/*Logo ohmyfood*/
.logo{
    display: flex;
    max-width: 50%;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}


/*-------*/
/*Footer*/
/*-------*/

footer div{                         /*animation au survol effet wiggle*/                                     /*animation mentions légales + contact*/
    &:hover{                   
        animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
}}

@keyframes shake-top {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 0;
    }
    10% {
      transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(4deg);
    }
    80% {
      transform: rotate(-2deg);
    }
    90% {
      transform: rotate(2deg);
    }
}


footer{                         /*position mention legale + contact dans footer + taille police*/
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    position: fixed;
    height: auto;
    width: 100%;
    bottom: 0;
}

.infos-position{
    padding: .7em  0.5em ;
}

/*Menus*/
.content{
    display:flex;
    padding-top: 7%;
    justify-content: space-around;
}

.menus{
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-around;

}


/*-------------*/
/*menu-enchanté*/
/*-------------*/
.menu_dimension_ombre{  /*dimension et ombre des menus*/
    width: 190px;
    height: 232px;
    box-shadow: 0px 0px 2px 1px rgb(207, 201, 207);
    margin-bottom: 15%;
}

.align{     /*Alignement interieur des menus*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;
    transform: scale(1);
    &:hover{
        transform: scale(1.3);
        transition: transform 900ms;
        opacity: 0.7;
    }  
}

.menu-enchante{
    background: #fcdfdb; 
    & img{
        width: 25px;
        height: auto;
    }
    & label{
        font-family: 'Zhi Mang Xing', cursive;
        color: #3d1319;
    }
    & a{
        padding-top: 2%;
        color: #3d1319;
        font-size: 21px;
        font-weight: bold;
        font-family: 'Short Stack', cursive;
    }
}

.menu-chic{
    background-color: #fff5fe;
    & p{
        background: linear-gradient(135deg, rgba(224,136,29,1) 0%, rgba(171,106,179,1) 58%, rgba(143,90,225,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Oleo Script', cursive;
        }
    & a{
        font-size: 21px;
        color: #c77412;
        font-family: 'PT Serif', serif;
        }
}
.menu-papille{
    background-color: #f9f9f9;
    & p{
        background: linear-gradient(100deg, rgba(2,41,221,1) 0%, rgba(4,83,234,1) 58%, rgba(68,163,251,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Dancing Script', cursive;
    }
    & a{
        font-size: 21px;
        color: #0887fb;
        font-family: 'Caveat', cursive;
    }
}
.menu-gout{
    background: #fdfffd;
    & p{
    background: linear-gradient(135deg, rgba(73,156,64,1) 0%, rgba(149,220,105,1) 58%, rgba(190,225,127,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
    }
    & a{
        font-size: 21px;
        color: #72bf56;
        font-family: 'Caveat', cursive;
    }
}

/*menus pages*/

.menu{
    width: 90%;
    height: auto;
    box-shadow: 0px 1px 15px 1px rgba(184, 179, 179, 0.897);
    margin: auto;
    cursor: default;
    margin-bottom: 4em;  
    padding-bottom: 1.5em;
}
h4{
    position: relative;
    &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgb(252,202,70);
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    }
    &:hover:before{
        visibility: visible; 
        transform: scale(1);
    }
}
.filtre-dimension{
    margin: auto;
    width: 80%;
}
.marge-basse{
    margin-bottom: 10px;
}
.plat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plats-prix{
    display: flex;
    justify-content: space-between;
}

.hr1,.hr2,.hr3{                       /*ligne séparatrice*/
    width: 30%;
    height: auto;
}
.hr2{
    transform: rotate(180deg);
}

.hr3{
    transform: rotateY(180deg) ;
}


/*page enchantée*/
.pink{
    background: #fcdfdb; 
}
.enchante{
    width: 88%;
    color: #3d1319;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    h4{
        font-family: 'Bad Script', cursive;
        font-size: 9.5px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding:0 .7em ;
    }
    p{
        font-family: 'Bad Script', cursive;
        font-size: 5px;
        font-weight: bold;
        span{
            font-size: 6.5px;
            font-weight: bolder;
        }  
    }
}
.head{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5% 0;
    & img{
        width: 10%;
    }
    label{
        font-size: 7vw;
        font-family: 'Zhi Mang Xing', cursive;
    }
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 4vw;
    padding-top: 10px;
    img{
        width: 5%;
    }
}


/*Page chic*/
.pink-{
    background-color: #fff5fe;
}
.violet{
    color:#a56799;
}
.orange{
    color: #c67412;
}
.bleu{
    color: #6e4ccc;
}

.chic{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    h4{
        font-family: 'PT Serif', serif;
        font-size: 8.2px;
    }
    h3{
        background: linear-gradient(135deg, rgba(224,136,29,1) 0%, rgba(171,106,179,1) 64%, #6e4ccc 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: lighter;
        font-family: 'Oleo Script', cursive;  
    }
    p{
        font-family: 'PT Serif', serif;
        font-size: 6px;
        font-weight: bold;
        margin: 6.5px 0;
        span{
            font-size: 8px;
            font-weight: bold;
        }  
    }
    .bleu{
        div{
            margin: 15px 0;
        }
    }
}
.head{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10% 0;
}

/*Page papille*/
.bg-papille{
    background-color: #f9f9f9;
}
.papille{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    
    h3{
        background: linear-gradient(100deg, rgba(2,41,221,1) 0%, #0453ea 20%, rgba(68,163,251,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Dancing Script', cursive; 
        font-weight: lighter;
    }
    h4{
       font-family: 'Bad Script', cursive;
       font-size: 11px; 
    }
    p{
        font-weight: bold;
        font-size: 7px;
        font-family: 'Bad Script', cursive;
        span{
            font-size: 9px;
        }
    }
}
/*Page goût*/
.bg-gout{
    background-color: #fdfffd;;
}
.gout{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    
    h3{
        background: linear-gradient(135deg, rgba(73,156,64,1) 0%, rgba(149,220,105,1) 58%, rgba(190,225,127,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Kaushan Script', cursive;
    }
    h4{
       font-family: 'Bad Script', cursive;
       font-size: 11px; 
    }
    p{
        font-weight: bold;
        font-size: 7px;
        font-family: 'Bad Script', cursive;
        span{
            font-size: 9px;
        }
    }
}

/*Prochainement*/

.prochainement {
    border-radius: 15px;
    width: 9.5em;
    padding: .3em  0;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    text-align: center;
}

.loading{
    margin: 0px 0px;
&::after{           /*Animation points de suspension*/
display: inline-block;
animation: dotty steps(1,end) 2000ms infinite;
content: '';
}
}

@keyframes dotty {
0%   { content: ''; }
25%  { content: '.'; }
50%  { content: '..'; }
75%  { content: '...'; }
100% { content: ''; }
}


/*classe soulignement off*/
.lien-underline{
    text-decoration: none;
}

/*classes Couleur*/

.jaune{
    color: rgb(252,202,70);
}

.bleu-vert{
    background-color:rgb(86,156,135) ;
}

/* Police */

h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    color: #353535;
    margin-top: 7%;
    margin-bottom: 10px;
}



/* Si la taille de l'écran est de 570 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 570px){
.prochainement{
    width: 9em;
    font-size: 2.3em;
    }
button, footer{
    font-size: 2em;
    }
h2{
    font-size: 3em;
    }
.menu_dimension_ombre{  /*dimension et ombre des menus*/
        width: 285px;
        height: 348px;
    
    .content {
        img{
            width: 2em;
        }
        p,label{
            font-size: 1.5em;
        }
        a{
            font-size: 2em;
        }
    }
}
.menu{ 
    margin-bottom: 8em;
    
    h3{
        font-size: 3em;
    }
    h4{
        font-size: 1em;
    }
    p{
        font-size: .7em;
        span{
            font-size: .9em;
            font-weight: bold;
        }
    }
}

}


/* Si la taille de l'écran est de 768 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 768px){
    .menu_dimension_ombre{  /*dimension et ombre des menus*/
        width: 310px;
        height: 378px;
    }
    .menu{ 
        margin-bottom: 8em;
        
        h3{
            font-size: 4em;
        }
        h4{
            font-size: 1.4em;
        }
        p{
            font-size: 1em;
            span{
                font-size: 1.3em;
                font-weight: bold;
            }
        }
    }   
}
/* Si la taille de l'écran est de 930 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 930px){
    .menu_dimension_ombre{  /*dimension et ombre des menus*/
        width: 340px;
        height: 415px;
    }
    .menu{ 
        margin-bottom: 8em;
        
        h3{
            font-size: 5em;
        }
        h4{
            font-size: 1.7em;
        }
        p{
            font-size: 1.3em;
            span{
                font-size: 1.6em;
                font-weight: bold;
            }
        }
    }
}
/* Si la taille de l'écran est de 1021 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 1021px){
    .menu_dimension_ombre{  /*dimension et ombre des menus*/
        width: 28em;
        height: 34.18em;
    }
    .content {
        img{
            width: 2.5em;
        }
        p,label{
            font-size: 2em;
        }
        a{
            font-size: 2.5em;
        }
    }
}
/* Si la taille de l'écran est de 1335 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 1335px){
    .menu_dimension_ombre{  /*dimension et ombre des menus*/
        width: 31em;
        height: 37.8em;
    }
    .menu{ 
        margin-bottom: 12em;
        
        h3{
            font-size: 6em;
        }
        h4{
            font-size: 2em;
        }
        p{
            font-size: 1.4em;
            span{
                font-size: 1.7em;
                font-weight: bold;
            }
        }
    }
}

/* Si la taille de l'écran est de 1440 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 1444px){
    .menu_dimension_ombre{  /*dimension et ombre des menus*/
        width: 35em;
        height: 42.8em;
    }
    .content {
        img{
            width: 2.5em;
        }
        p,label{
            font-size: 2em;
        }
        a{
            font-size: 2.5em;
        }
    }

.prochainement, footer{
        font-size: 3em;
    }
h2{
        font-size: 5em;
    }
}
/* Si la taille de l'écran est de 1680 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 1680px){
    .menu_dimension_ombre{  /*dimension et ombre des menus*/
        width: 42em;
        height: 51.3em;
    }
    .content {
        img{
            width: 3.5em;
        }
        p,label{
            font-size: 3em;
        }
        a{
            font-size: 3.5em;
        }
    }
    .menu{ 
        margin-bottom: 13em;
        
        h3{
            font-size: 7em;
        }
        h4{
            font-size: 2.6em;
        }
        p{
            font-size: 1.8em;
            span{
                font-size: 1.6em;
                font-weight: bold;
            }
        }
    }

.prochainement, footer{
        font-size: 4em;
    }
h2{
        font-size: 6em;
    }
}
/* Si la taille de l'écran est de 2020 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 2020px){
    .menu_dimension_ombre{  /*dimension et ombre des menus*/
        width: 50em;
        height: 61.3em;
    }
    .content {
        img{
            width: 4.1em;
        }
        p,label{
            font-size: 3.6em;
        }
        a{
            font-size: 4.1em;
        }
    }

.prochainement, footer{
        font-size: 4.6em;
    }
h2{
        font-size: 6.6em;
    }
    .menu{ 
        margin-bottom: 17em;
        
        h3{
            font-size: 9em;
        }
        h4{
            font-size: 4.5em;
        }
        p{
            font-size: 2.5em;
            span{
                font-size: 2em;
            }
        }
    }
}
/* Si la taille de l'écran est de 2403 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 2403px){
    .menu_dimension_ombre{  /*dimension et ombre des menus*/
        width: 60em;
        height: 73.2em;
    }
    .content {
        img{
            width: 4.7em;
        }
        p,label{
            font-size: 4.2em;
        }
        a{
            font-size: 4.7em;
        }
    }

.prochainement, footer{
        font-size: 4.2em;
    }
h2{
        font-size: 7.2em;
    }
}
