@charset "UTF-8";
body {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #ffffff;
}

/*-------*/
/*header*/
/*-------*/
/*H1*/
h1 {
  display: none;
}

/*Logo ohmyfood*/
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/*-------*/
/*Footer*/
/*-------*/
footer div:hover {
  /*animation mentions légales + contact*/
  -webkit-animation: infinite thing 700ms;
          animation: infinite thing 700ms;
}

@-webkit-keyframes thing {
  /*animation effet wiggle*/
  0% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
  9% {
    -webkit-transform: translate(5px);
            transform: translate(5px);
  }
  18% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
  27% {
    -webkit-transform: translate(5px);
            transform: translate(5px);
  }
  36% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
  45% {
    -webkit-transform: translate(5px);
            transform: translate(5px);
  }
  54% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
  63% {
    -webkit-transform: translate(5px);
            transform: translate(5px);
  }
  72% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
  81% {
    -webkit-transform: translate(5px);
            transform: translate(5px);
  }
  100% {
    -webkit-transform: translate(0deg);
            transform: translate(0deg);
  }
}

@keyframes thing {
  /*animation effet wiggle*/
  0% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
  9% {
    -webkit-transform: translate(5px);
            transform: translate(5px);
  }
  18% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
  27% {
    -webkit-transform: translate(5px);
            transform: translate(5px);
  }
  36% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
  45% {
    -webkit-transform: translate(5px);
            transform: translate(5px);
  }
  54% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
  63% {
    -webkit-transform: translate(5px);
            transform: translate(5px);
  }
  72% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
  81% {
    -webkit-transform: translate(5px);
            transform: translate(5px);
  }
  100% {
    -webkit-transform: translate(0deg);
            transform: translate(0deg);
  }
}

footer {
  /*position mention legale + contact dans footer*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

/*Menus*/
.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
}

.menu-gauche {
  margin-right: 5%;
}

.menus section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3%;
}

.menus img {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(214, 210, 210, 0.897);
          box-shadow: 0px 1px 15px 1px rgba(214, 210, 210, 0.897);
  width: 100%;
  height: auto;
}

.menus img:hover {
  -webkit-animation-duration: 450ms;
          animation-duration: 450ms;
  opacity: .6;
}

/*menus pages*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
}

.menu img {
  -webkit-box-shadow: 0px 1px 15px 1px rgba(184, 179, 179, 0.897);
          box-shadow: 0px 1px 15px 1px rgba(184, 179, 179, 0.897);
  width: 79%;
  height: auto;
  margin: auto;
}

/*Bouton*/
button {
  border: none;
  border-radius: 7px;
  padding: 0.4rem;
  width: 42%;
  max-width: 300px;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}

.prochainement {
  text-align: center;
}

.loading:after {
  /*Animation points de suspension*/
  display: inline-block;
  -webkit-animation: dotty steps(1, end) 1300ms infinite;
          animation: dotty steps(1, end) 1300ms infinite;
  content: '';
}

@-webkit-keyframes dotty {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}

@keyframes dotty {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}

/*classe soulignement off*/
.lien-underline {
  text-decoration: none;
}

/*classes Couleur*/
.jaune {
  color: #fcca46;
}

.bleu-vert {
  background-color: #569c87;
}

/* Police */
h1 {
  font-family: sans-serif;
  font-size: 20px;
  color: #353535;
  margin-top: 5%;
  margin-bottom: 10px;
}

button, footer {
  font-size: 13px;
}

/* Si la taille de l'écran est de 588 pixels ou plus, définissez la taille de la police comme ci-dessous*/
@media only screen and (min-width: 588px) {
  button, footer {
    font-size: 2rem;
  }
  h1 {
    font-size: 3rem;
  }
}

/* Si la taille de l'écran est de 1440 pixels ou plus, définissez la taille de la police comme ci-dessous*/
@media only screen and (min-width: 1440px) {
  /*Bouton*/
  button {
    max-width: 450px;
  }
  button, footer {
    font-size: 3rem;
  }
  h1 {
    font-size: 5rem;
  }
  .logo {
    max-width: 62%;
  }
}
/*# sourceMappingURL=test.css.map */