/*Page chic*/
.pink-{
    background-color: #fff5fe;
}
.violet{
    color:#a56799;
}
.orange{
    color: #c67412;
}
.bleu{
    color: #6e4ccc;
}
$font-oleo:'Oleo Script', cursive;
$font-PT-serif:'PT Serif', serif;

#chic{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    h4{
        font-family: 'PT Serif', serif;
        font-size: 8.2px;
    }
    h3{
        background: linear-gradient(135deg, rgba(224,136,29,1) 0%, rgba(171,106,179,1) 64%, #6e4ccc 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: lighter;
        font-family: $font-oleo;  
    }
    p{
        font-family: $font-PT-serif;
        font-size: 6px;
        font-weight: bold;
        margin: 6.5px 0;
        span{
            font-size: 8px;
            font-weight: bold;
        }  
    }
    .bleu{
        div{
            margin: 15px 0;
        }
    }
}
.head{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10% 0;
}