/* Si la taille de l'écran est de 379 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 379px){
    #menus{
        article{             /*dimension des menus*/
            width: 285px;
            height: 348px;
        }
        img{
            width: 2em;
        }
        h2{
            font-size: 1.50em;
        }
        p{
            font-size: 28px;
        }}
}
/* Si la taille de l'écran est de 570 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 570px){
#prochainement{
    width: 9em;
    font-size: 2.3em;
    }
footer{
    font-size: 2em;
    }
p{
    font-size: 1em;
    }
#menus{
    article{             /*dimension des menus*/
        width: 285px;
        height: 348px;
    }
    img{
        width: 2.15em;
    }
    h2{
        font-size: 1.65em;
    }
    p{
        font-size: 35px;
    }
}
#menu{ 
    margin-bottom: 8em;
    h3{
        font-size: 40px;
    }
    h4{
        font-size: 20px;
    }
    p{
        font-size:15px;
        span{
            font-size: 17px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 30px;
        }
    }
}

}


/* Si la taille de l'écran est de 768 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 768px){
#menus {
    article{  /*dimension des menus*/
        width: 310px;
        height: 378px;
    }
    img{
        width: 2.5em;
    }
    h2{
        font-size: 1.7em;
    }
    p{
        font-size: 40px;
    }
}
#menu{ 
    margin-bottom: 8em;       
    h3{
        font-size: 50px;
    }
    h4{
        font-size: 24px;
    }
    p{
        font-size:20px;
        span{
            font-size: 21px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 40px;
        }
    }
}   
}
/* Si la taille de l'écran est de 930 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 930px){
#menus{
    article{
            width: 348px;
            height: 424px;
    }
}
#menu{ 
    margin-bottom: 8em;    
    h3{
        font-size: 65px;
    }
    h4{
        font-size: 32px;
    }
    p{
        font-size: 25px;
        span{
            font-size: 27px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 50px;
        }
    }
}
}
/* Si la taille de l'écran est de 1021 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 1021px){
#menus {
    article{  /*dimension des menus*/
        width: 28em;
        height: 34.18em;
    }
    img{
        width: 55px;
    }
    h2{
        font-size: 45px;
    }
    p{
        font-size: 55px;
    }
}
}
/* Si la taille de l'écran est de 1335 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 1335px){
#menus{
    article{  /*dimension des menus*/
        width: 33em;
        height: 40.2em;
    }
}
    #menu{ 
    margin-bottom: 12em;     
        
    h3{
        font-size: 80px;
    }
    h4{
        font-size: 45px;
    }
    p{
        font-size:30px;
        span{
            font-size: 32px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 65px;
        }
    }
}
}

/* Si la taille de l'écran est de 1440 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 1444px){
#menus {
    article{  /*dimension des menus*/
        width: 35em;
        height: 42.8em;
    }
    img{
        width: 60px;
    }
    h2{
        font-size: 50px;
    }
    p{
        font-size: 60px;
    }
}

#prochainement, footer{
        font-size: 3em;
    }
p{
        font-size: 1em;
    }
}
/* Si la taille de l'écran est de 1680 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 1680px){
#menus {
    article{  /*dimension des menus*/
        width: 45em;
        height: 54.8em;
    }
    img{
        width: 70px;
    }
    h2{
        font-size: 60px;
    }
    p{
        font-size: 70px;
    }
}
#menu{ 
    margin-bottom: 13em; 
    h3{
        font-size: 105px;
    }
    h4{
        font-size: 57.5px;
    }
    p{
        font-size:50px;
        span{
            font-size: 52px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 90px;
        }
    }
}
#prochainement, footer{
        font-size: 4em;
    }
}
/* Si la taille de l'écran est de 2020 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 2020px){
#menus {
    article{  /*dimension des menus*/
        width: 50em;
        height: 61.3em;
    }
    img{
        width: 90px;
    }
    h2{
        font-size: 80px;
    }
    p{
        font-size: 90px;
    }
}

#prochainement, footer{
        font-size: 4.6em;
    }
#menu{ 
    margin-bottom: 17em;
    h3{
        font-size: 120px;
    }
    h4{
        font-size: 69px;
    }
    p{
        font-size:60px;
        span{
            font-size: 62px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 100px;
        }
    }
}
}
/* Si la taille de l'écran est de 2403 pixels ou plus, définir comme ci-dessous*/
@media only screen and (min-width: 2403px){
#menus {
    article{  /*dimension des menus*/
        width: 60em;
        height: 73.2em;
    }
    img{
        width: 100px;
    }
    h2{
        font-size: 90px;
    }
    p{
        font-size: 100px;
    }
}
#menu{ 
    margin-bottom: 17em;    
    h3{
        font-size: 140px;
    }
    h4{
        font-size: 82px;
    }
    p{
        font-size:75px;
        span{
            font-size: 77px;
            font-weight: bold;
        }
    }
    #footer{
        label{
            font-size: 110px;
        }
    }
}

#prochainement, footer{
    font-size: 4.2em;
}
}